@import '../../../components/style/variable/index';
@import '../../../components/style/mixins/index';

.x-page {
    height: 100%;

    &__hd {
        .px2rem(padding, @layout-padding* 2, @layout-padding);
        .px2rem(font-size, @font-size-title);
        font-weight: bold;
        color: @color-text-title;
    }
    &__title {
        .px2rem(font-size, @font-size-sub-title);
        color: @color-text-title;
    }
}
