@import "./variable";
@import "../../style/mixins/index";

.@{btn-prefix} {
    // box
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: @btn-padding;
    padding-right: @btn-padding;
    height: @btn-height;

    // font
    font-size: @btn-font-size;
    line-height: @btn-height;
    font-weight: @btn-font-weight;

    // text
    text-align: center;

    // border
    border-radius: @btn-border-radius;
    border-width: 1px; /*px*/
    border-style: solid;

    // other
    .setTapColor();
    outline: 0;
    -webkit-appearance: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    &:focus {
        outline: 0;
    }
}
