@import '../components/style/variable/index';
@import '../components/style/mixins/index';

html,
body {
    height: 100%;
    .setTapColor();
}

body {
    margin-right: auto;
    margin-left: auto;
    font-family: @font-family;
    line-height: @line-height;
    color: @color-text;
    background: @color-bg;
}

ul,
ol {
    list-style: none;
}

#app {
    height: 100%;
    overflow: auto;
}

h1 {
    font-size: @font-size-title;
    margin: 1.5em 0;
}

h2 {
    font-size: @font-size-sub-title;
    margin: 1.2em 0;
}
